.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a { text-decoration: underline; color:gold }
a:visited { text-decoration: underline; color:gold; }
a:hover { text-decoration: underline; color:gold; }
a:focus { text-decoration: underline; color: gold; }
a:hover, a:active { text-decoration: underline; color:gold }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}

::-webkit-scrollbar-track { 
  border-radius: 10px;
  background-color: black;
}
 
::-webkit-scrollbar-thumb {
  background: gold; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: yellow; 
}